<h2>Projects Report</h2>
<table>
  <thead>
    <td>Name</td>
    <td>Description</td>
    <td>Tasks</td>
    <td>Completed Tasks</td>
    <td>Assigned Tasks</td>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project['name'] %></td> 
        <td><%= project['description'] %></td> 
        <td><%= project['tasks_count'] %></td> 
        <td><%= project['completed_tasks'] %></td> 
        <td><%= project['assigned_tasks'] %></td> 
      </tr>
    <% end %>
  </tbody>
</table>