<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .name {
        color: rgb(3, 59, 63);
      }
    </style>
  </head>

  <body>
    <h1 class="name"> Hi <%= @company.name %> </h1>
    <%= yield %>
  </body>
</html>
